
:root {
    --main-font: 'Monoton', cursive;
    --gold-font: gold;
}

body {
    margin: 0%;
    padding: 0%;
    height: 98%;
    overflow: hidden;
}

#content {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.25fr;
}

#main_col_center {
    background-image: url(images/peter-lewicki-411606-unsplash.jpg);
    background-size: cover;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 2px);
    text-align: center;
}

#main_col_left {
    background-image: url(images/16mm-Film-Cans-Left.jpg);
    background-size: cover;
    margin: 0%;
    display: flex;
}

#queued_area {
    margin: 0%;
    width: 100%;
}

#gif_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
    justify-items: center;
    align-items: center;
    height: calc(100vh - 72px);
    overflow-y: scroll;
}

#watching_area {
    display: grid;
    justify-items: center;
}

.topic_button {
    background-color: black;
    border: grey;
    padding: 1%;
    margin: 2%;
    color: var(--gold-font);
}

#button_and_input {
    background-image: url(images/red_velvet.jpg);
    background-size: cover;
    padding: 5%;
}

#favorite_area {
    overflow-y: scroll;
    height: calc(60vh - 30px);
}

#main_col_right {
    background-image: url(images/16mm-Film-Cans-Right.jpg);
    background-size: cover;
    margin: 0%;
}

#seen_gif_div {
    display: grid;
    justify-items: center;
    height: calc(100vh - 65px);
    overflow-y: scroll;
}

.gif_house {
    box-sizing: border-box;
    background: pink;
    padding: 5%;
    margin: 3%;
    min-width: 60%;
    max-width: 70%;
    height: auto;
    text-align: center;
    border: black;
    border-style: solid;
}

.topic_gif {
    min-width: 80%;
    max-width: 90%;
}

h1 {
    text-align: center;
    padding: 4% 0%;
    margin: 2% 2%;
    font-family: var(--main-font);
    font-size: 3rem;
    border-left: .25rem solid black;
    border-right: .25rem solid black;
    border-radius: 1rem;
    background-image: url(images/red_velvet.jpg);
    color: var(--gold-font);
}
