
:root {
    --main-font: 'Monoton', cursive;
    --gold-font: gold;
}

body {
    margin: 0%;
    padding: 0%;
    height: 98%;
    overflow: hidden;
}

#content {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.25fr;
}

#main_col_center {
    background-image: url(images/peter-lewicki-411606-unsplash.jpg);
    background-size: cover;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 2px);
    text-align: center;
}

#main_col_left {
    background-image: url(images/16mm-Film-Cans-Left.jpg);
    background-size: cover;
    margin: 0%;
    display: flex;
}

#queued_area {
    margin: 0%;
    width: 100%;
}

#gif_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
    justify-items: center;
    align-items: center;
    height: 85vh;
    overflow-y: auto;
}

#watching_area {
    justify-items: center;
}

#currently_watching {
    display: flex;
    justify-content: center;
}

.topic_button, #favorite {
    background-color: black;
    border-color: #800000;
    border-radius: .25rem;
    padding: 2%;
    margin: 1%;
    color: var(--gold-font);
}

#button_and_input {
    position: absolute;
    width: 250px;
    height: 225px;
    left: 36%;
    bottom: -165px;
    transition: 0.3s;
}

#button_and_input:hover {
    bottom: 0px;
}

#button_and_form_area {
    background-color: rgba(147, 147, 147, 0.5);
    padding-bottom: 5%;
}

#favorite_area {
    position: absolute;
    width: 250px;
    height: 400px;
    left: 54%;
    bottom: -340px;
    transition: 0.3s;
}

#favorite_gif {
    background: rgba(147, 147, 147, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 330px;
    overflow-y: auto;
}

#favorite_area:hover {
    bottom: 0px;
}

#main_col_right {
    background-image: url(images/16mm-Film-Cans-Right.jpg);
    background-size: cover;
    margin: 0%;
}

#seen_gif_div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 2fr);
    justify-items: center;
    height: 78vh;
    overflow-y: auto;
}

.gif_house {
    box-sizing: border-box;
    background-image: url(images/clapboard.jpg);
    background-size: cover;
    padding: 20% 2% 2%;
    margin: 3%;
    min-width: 50%;
    max-width: 60%;
    height: auto;
    text-align: center;
    border: solid black;
}

.topic_gif {
    min-width: 80%;
    max-width: 90%;
}

h1 {
    text-align: center;
    padding: 4% 3%;
    margin: .5% 2%;
    font-family: var(--main-font);
    font-size: 2.5rem;
    border-left: .25rem solid var(--gold-font);
    border-right: .25rem solid var(--gold-font);
    border-radius: 1rem;
    background-image: url(images/red_velvet.jpg);
    color: var(--gold-font);
}

.favorites, #controller{
    margin: 0%;
    font-size: 2rem;
}

@media screen and (max-width: 1500px) {
    .favorites, #controller {
        font-size: 1.5rem;
    }

    #favorite_area, #button_and_input {
        width: 200px;
    }
}

@media screen and (max-width: 1200px) {
    .favorites, #controller {
        font-size: 1rem;
    }

    #favorite_area, #button_and_input {
        width: 175px;
    }

    #favorite_area {
        bottom: -360px;
    }
    
    #button_and_input {
        bottom: -185px
    }
}

@media screen and (max-width: 1050px) {
    #favorite_area, #button_and_input {
        width: 150px;
    }

    #add_form {
        max-width: 80%;
    }
}

@media screen and (max-width: 950px) {
    h1 {
        font-size: 2rem;
    }

    .favorites, #controller {
        font-size: .75rem;
    }

    #favorite_area, #button_and_input {
        width: 125px;
    }

    #favorite_area {
        bottom: -370px;
    }
    
    #button_and_input {
        bottom: -195px
    }

    #main_col_center {
        height: 100vh;
    }
}

@media screen and (max-width: 850px) {
    #favorite_area:hover {
        bottom: -75px;
    }
    
    h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 750px) {
    body {
        height: auto;
        overflow: auto;
        background-color: #800000;
    }

    #content {
        display: block;
        overflow: auto;
    }

    #main_col_left, #main_col_center, #main_col_right{
        display: block;
        overflow: auto;
        max-width: 98%;
    }

    #gif_div {
        grid-template-columns: 1fr;
        justify-items: right;
    }

    #button_and_input {
        left: 2%;
        top: 15%;
    }

    #favorite_area {
        left: 2%;
        top: 40%;
    }
}
