
body {
    margin: 0%;
    padding: 0%;
    height: 98%;
}

#content {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.25fr;
}

#main_col_center {
    background: grey;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 2px);
    text-align: center;
}

#main_col_left {
    margin: 0%;
    display: flex;
}

#queued_area {
    margin: 0%;
    width: 100%;
}

#gif_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
    justify-items: center;
    align-items: center;
    height: calc(100vh - 72px);
    overflow-y: scroll;
}

#watching_area {
    height: 35%;
}

#favorite_area {
    overflow-y: scroll;
    height: calc(60vh - 30px);
}

#main_col_right {
    margin: 0%;
}

#watched_area {
    background: green;
}

#seen_gif_div {
    height: calc(100vh - 65px);
    overflow-y: scroll;
}

.unwatched {
    margin: 0%;
}

.watched {
    margin: 0%;
}

.gif_house {
    box-sizing: border-box;
    background: pink;
    padding: 5%;
    margin: 3%;
    min-width: 80%;
    max-width: 90%;
    height: auto;
    text-align: center;
    border: black;
    border-style: solid;
}

.topic_gif {
    min-width: 80%;
    max-width: 90%;
}

h1 {
    text-align: center;
    padding: 4% 0%;
    margin: 0%;
    font-size: 1.5rem;
    border-left: .25rem solid black;
    border-right: .25rem solid black;
    border-radius: 1rem;
}
